html {
  scroll-behavior: smooth;
}

body {
  background: #1a1a1a !important;
}

nav {
  background: #1a1a1a !important;
}

#Lol {
  width: 40px;
  height: 40px;
}

header {
  position: relative;
  background-color: black;
  height: 90vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

h1 {
  color: #ac904f;
  font-family: 'Teko', sans-serif;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://www.wallpapertip.com/wmimgs/95-958758_league-of-legends-ekko-wallpaper-imgur-league-of.jpg') black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}